.container-button-edit {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4em;

    width: 1000px;
}

.container-button-edit .edit-button {
    padding: 0.8em 1.5em;
    background-color: gold;
    border: 2px solid black;
    color: white;
    font-size: 1.17em;
    font-weight: 600;
    cursor: pointer;
}

.container-button-edit .edit-button:hover {
    background-color: rgba(255, 215, 0, 0.7);
}